torch>=2.0.0
torchvision>=0.15.0
numpy<2.0.0
scikit-learn>=1.2.0
tqdm>=4.65.0
Pillow>=9.5.0
mne>=1.4.0
diffusers>=0.16.0
transformers>=4.29.0
torch-geometric>=2.3.0
torch_scatter==2.1.2
torch_sparse>=0.6.18
